.myphoto {

    display: block;
    max-width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.circle {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    float: left;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;

}

header {
    text-align: center;
}

.cv,
.projects,
.contact {
    width: 120px;
    height: 120px;
    line-height: 110px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #9BA8AB;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px 0 10px;


}

.cv:hover {
    text-decoration: none;
    color: #9BA8AB;
}

.projects:hover {
    text-decoration: none;
    color: #9BA8AB;
}

.contact:hover {
    text-decoration: none;
    color: #9BA8AB;

}

.cv {
    background-color: #DC143C;
}

.projects {
    background-color: #00FFFF;
}

.contact {
    background-color: #98FB98;
}

.text {
    display: block;


}

.cv_page,
.projects_page,
.contacts_page{
    background-color: #e9ecef;
    padding: 10px 50px 10px 50px;
}

#tnx {
    width: 180px;
    height: 20px;
    padding: 10px;
    opacity: 0;
    margin-bottom: 10px;
    margin: auto;
    border-radius: 3px;
    box-sizing: content-box;
}

.tnx {
    border: 1px solid green;
    background-color: rgba(158, 239, 178, .7);
    color: green;
    text-align: center;
}

.empty {
    border: 1px solid red;
    color: red;
    background-color: rgba(252, 164, 164, .7);
    text-align: center;
}