<div class="contacts_page">
    <div id="tnx" class="tnx">Thank you for message!</div>
    <form method="POST" action="https://formspree.io/mefis2.0@gmail.com">
        <p><strong>You can call me (063) 863 80 81 or write:</strong></p>
        <input id="name" type="text" placeholder="Your name" name="name">
        <label for="name">Your name (necessary)</label><br>
        <input id="email" type="text" placeholder="Your e-mail" name="e-mail">
        <label for="email">Your e-mail (necessary)</label><br>
        <textarea name="message" cols="40" rows="6" id="textarea"></textarea><br>
        <input type="submit" id="submit" value="send">
    </form>
</div>