
div class="cv_page">
    <div>
        Oleksii Zharikov<br> 05.11.1988;
        <br> Phone: 063-863-80-81;<br> E-mail: <a href="mefis2.0@gmail.com">mefis2.0@gmail.com</a>;<br> GitHub Profile: <a href="https://github.com/AlexeyZharikov">https://github.com/AlexeyZharikov</a>;
    </div>
    <br>
    <div>
        <strong>Work Experience  </strong><br> 08.2014 – till now.<br> Courier
        <br> Soft Serve;<br> Duties:
        <br>
        <ul>
            <li>Correspondence delivering.</li>
        </ul>
        12.2013 – 06.2014.<br> Freelancer
        <br> Utest.com;
        <br> Duties:
        <br>
        <ul>
            <li>Work with requirements;</li>
            <li>GUI testing;</li>
            <li>Functional testing;</li>
        </ul>
        11.2013 – 03.2014.<br> 1st Category Specialist<br> Lviv City Council , IT Department;<br> Duties:
        <br>
        <ul>
            <li>Work with documents;</li>
            <li>Project Management;</li>
        </ul>
        <strong>Education:</strong><br> 2005 – 2011.<br> Ivan Franko National University of Lviv. Economical faculty, Specialist in Finances.<br><br>
        <strong>Additional Education:</strong><br> 02.2018 – 03.201.<br> SoftServe University.<br> HTML5 App Development Fundamentals.<br><br>
        <strong>Skills:</strong><br>
        <ul>
            <li>JavaScript (JQuery, React JS);</li>
            <li>HTML5;</li>
            <li>CSS3;</li>
            <li>Bootstrap 4;</li>
        </ul>
        <strong>Personal Qualities</strong><br> Punctuality, accuracy, tidiness, responsible, hardworking, like to work in team.<br><br>
        <strong>Languages:</strong><br>
        <ul>
            <li>Ukrainian - native;</li>
            <li>Russian - native;</li>
            <li>English - intermediate.</li>
        </ul>
    </div>
</div>